<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/Coursework/Service/"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBinding_IService"
                  contract="ServiceReference.IService"
                  name="WSHttpBinding_IService"
                  behaviorConfiguration="CustomBehavior">
        <identity>
          <dns value="WcfServer" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IService">
          <security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
            <clientCertificate
              findValue="WcfClient"
                x509FindType="FindBySubjectName"
                storeLocation="CurrentUser"
                storeName="My"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
